/*styles */
#app {
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212339;
}

.table-center {
  margin: auto;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.results {
  text-align: center;
}

.btn-cell {
  display: inline-block;
	background-color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #dddddd;
	cursor: pointer;
	color: #000000;
	font-size: 50px;
	font-weight: vbold;
	text-decoration: none;
  width: 100px;
  height: 100px;
  margin: 2px;
}

.btn-cell[disabled] {
  cursor: default;
  pointer-events: none;
}

.btn-cell:focus {
  outline: 0;
}

.btn-cell:hover {
	background-color: #cbcbcb;
}
.btn-cell:active {
	position: relative;
	top: 1px;
}

.btn-cell.player {
  color: #52E671;
  border-color: #52E671;
}

.btn-cell.ai {
  color: #b70101;
  border-color: #b70101;
}
